
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

* {
    font-family: 'Montserrat';
}

html {
    display: inline;
}

body,h1,h2 {
    margin:0px;
    padding:0px;
}


body {
    min-width: fit-content;
}

h1 {
    font-size:36px;
    font-weight: bold;
    font-style: italic;
}

h2 {
    text-align: left;
    font-size:20px;
    color:#282828;
    font-weight: lighter;
    margin-bottom: 16px;
    padding-bottom: 5px;
}

h2::first-letter { color: rgb(214, 88, 102); }

h4::first-letter { color: rgb(163, 41, 171); }

.name-text {
    font-size:16px;
    color:#7c7c7c;
    font-weight: bold;
}

.about-me-text {
    font-size:15px;
    line-height: 16px;
}

.mainbox {
    display: grid;
    padding-left: center;
    width: 600px;
    height: 1300px;
    padding: 30px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    background: #ffffff;
    box-sizing: border-box; border: 4px; border-style: solid; border-image: linear-gradient(#e64c4c, #ca94e9); border-image-slice: 1;
}


.title-box {
    text-align: center;
    padding-right: 400px;
}

section {
    margin-top:24px;
}

.float-wrap {
    overflow: hidden;
}

.title-text {
    font-size:11px;
    font-weight: bold;
    color: #282828;
    float: left;
}

.year-text{
    font-size:11px;
    font-weight: bold;
    color: #282828;
    float: right;
}

.desc-text {
    font-size: 9px;
}

.desc-subtext {
    font-size: 9px;
    color:#282828;
    padding-left:16px;
}



footer {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    font-size: 12px;
    color: #919191;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -175px;
}

.instagram {
    position: relative;
    background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%) , linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
    background-size: cover;
}